/*MAIN SITE STYLE
#################*/

body {
    height: auto;
    font-family: 'Calibri', 'Arial', 'sans-serif';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: inline-block;
}

h2 {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 1.15em;
    padding: 0;
}
p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/*This class is for P divs in Wikipedia text */
.wikiText p {
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 15px;
    margin-left: 15px;
    clear: both;
}

.wikiText h2 {
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 15px;
    margin-left: 15px;
    clear: both;
}

.wikiText h3 {
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 15px;
    margin-left: 15px;
    clear: both;
}
.wikiText h4 {
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 15px;
    margin-left: 15px;
    clear: both;
}
.wikiText dl {
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 15px;
    margin-left: 15px;
    clear: both;
}
#bioTextHidden{
    display: none;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a.anchortop {
    display: block;
    position: relative;
    top: -60px;
}
#editAlbumDetails{
    width: 625px;
}
.hrPlaying{
    width: 200px;
}
#artistNumberSongs{
    cursor: pointer;
}

/*Offset for display*/
.anchor {
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}

.tracks:target {
  border-spacing: 60px; 
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-start: 2px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.85em;
    width: 150px;
    font-family: 'Calibri', 'Arial', 'sans-serif';
    outline: none;
}

#sltPlaylist {
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    margin-bottom: 5px;
}

#inpPlaylistName{
    outline: none;
    width: 145px;
    margin-right: 3px;
}

#sltZoom {
    width: 100px;
    border: 1px solid #000000;
}

#sltMood {
    width: 150px;
    border: 1px solid #000000;
}

#sltGenre1 {
    width: 173px;
    border: 1px solid #000000;
}

#sltAlbumSort {
    width: 115px;
    border: 1px solid #000000;
    margin-bottom: 3px;
}

.sltGenre {
    width: 190px;
    border: 1px solid #000000;
}

.sltMood1 {
    width: 281px;
    border: 1px solid #000000;
}

.sltMood2 {
    width: 281px;
    border: 1px solid #000000;
}

.sltTempo1 {
    width: 281px;
    border: 1px solid #000000;
}

.sltTempo2 {
    width: 281px;
    border: 1px solid #000000;
}

.spotifyLogo {
    width: 100px;
    height: 30px;
}

/* PAGE BUTTON STYLES
###########################*/
.btnMenu {
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border: 0;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 45px;
    outline: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome/Opera */
}

.btnMenu2 {
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border: 0;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 60px;
    outline: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome/Opera */
}

.btnMenu3 {
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border: 0;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100px;
    outline: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome/Opera */
}

.btnContent {
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border: 0;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    margin: 5px 0px 5px 5px;
    width: 55px;
    outline: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome/Opera */
}

.btnTrackListing {
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border: 0px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    width: 70px;
    outline: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome/Opera */
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}

    button:disabled,
    button[disabled]:hover {
        cursor: not-allowed;
    }


/*Generic styling for all input boxes*/
input[type=text] {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-start: 2px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #430100;
    font-size: 0.85em;
    font-family: 'Calibri', 'Arial', 'sans-serif';
}

textarea {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-start: 2px;
    border: 1px solid #AAA;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #430100;
    font-size: 0.85em;
    width: 175px;
    font-family: 'Calibri', 'Arial', 'sans-serif';
}

/*PAGE DIVS CODE
####################################*/

#divControlsHeader {
    width: 100%;
    float: left;
    height: 60px;
    position: fixed;
    z-index: 999;
    margin: 0 auto;
}

#divPlaying {
    position: fixed;
    left: 0px;
    width: 240px;
    top: 60px;
    bottom: 0;
    padding: 0;
    float: left;
    height: auto;
    margin: 0;
}

#divPlaylist {
    position: fixed;
    left: 0px;
    width: 15%;
    bottom: 0;
    padding: 0;
    float: left;
    height: auto;
    min-width: 230px;
    display: none;
}

#divSideMenu {
    display: none;
    position: fixed;
    width: 35px;
    top: 60px;
    bottom: 0;
    padding: 0;
    float: left;
    height: auto;
    margin: 0;
}

.container {
    display: flex;
}

#divContent {
    margin-left: 240px;
    top: 60px;
    position: absolute;
    flex: 1;
}

#divTrackListing {
    margin-left: 715px;
    top: 60px;
    padding: 0;
    position: absolute;
    display: none;
    flex: 1;
}

.divLayout {
    position: relative;
    width: auto;
    float: left;
    left: 0px;
    padding: 15px 0px 15px 15px;
    height: auto;
}

.divSpotifyAlbumList {
    clear: left;
    position: relative;
    float: left;
    left: 0px;
    padding-top: 10px;
    height: auto;
}

#divAlbumHeader {
    position: fixed;
}

#divBioHeader {
    position: fixed;
}

.divBackToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    display: none;
}

.help {
    margin-left: 25px;
}  

.defaultPlaying{
    display: block;
}
.nowPlaying {
    display: none;
}

#divHeading{
    padding-bottom: 10px;
}

/*SETTINGS FORM
###################################*/
#ipnAppName {
    display: inline-block;
    width: 100px;
}

#ipnMusicDirectory {
    display: inline-block;
    width: 400px;
}

/*ADD TO DATABASE FORM
###################################*/

.frmDatabase {
    padding: 10px;
    border-radius: 8px;
    width: 925px;
}
    .frmDatabase legend {
        font-weight: bold;
    }
    .frmDatabase label.error {
        color: red;
        font-family: 'Calibri', 'Arial', 'sans-serif';
    }
    .frmDatabase input.error {
        border: 1px solid red;
    }
    .frmDatabase fieldset {
        border-radius: 8px;
    }

#lblAlbumData {
    display: inline-block;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}
#albumData {
    display: inline-block;
    width: 275px;
}
#lblTrackData {
    display: inline-block;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}
#lblFrontArtwork {
    display: inline-block;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}
#frontArtwork {
    display: inline-block;
    width: 275px;
}
#lblBackArtwork {
    display: inline-block;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}
#lblMainGenre {
    display: inline-block;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}
#mainGenre {
    display: inline-block;
    width: 275px;
}
#lblGenreTags {
    display: inline-block;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}
#genreTags{
    text-transform: capitalize;
}
#lblArtistName {
    display: inline-block;
    text-align: right;
    width: 93px;
    margin-right: 5px;
}
#inpArtistName{
    display:inline-block;
    width: 275px;
}
#lblArtistOrigin{
    display:inline-block;
    text-align: right;
    width: 90px;
    margin-left: 5px;     
}
#inpArtistOrigin{
    display:inline-block;
    width: 400px;
}
#lblAlbumName{
    display:inline-block;
    text-align: right;
    width: 93px;
    margin-left: 5px;   
}
#inpAlbumName{
    display:inline-block;
    width: 275px;
}
#lblReleaseDate{
    display:inline-block;
    text-align: right;
    width: 95px;
    margin-right: 0px;     
}
#inpReleaseDate{
    display:inline-block;
    width: 50px;    
}
#lblAlbumTime{
    display:inline-block;
    text-align: right;
    width: 40px;
    margin-left: 5px;     
}
#inpAlbumTime {
    display: inline-block;
    width: 50px;
    background: #d2d2d2;
}
#inpEditAlbumTime {
    display: inline-block;
    width: 50px;
    background: #d2d2d2;
}
#lblGenre {
    display: inline-block;
    text-align: right;
    width: 45px;
    margin-left: 16px;
    margin-right: 2px;
}
#inpGenre{
    display:inline-block;
    width: 250px;    
}
#lblGenre2 {
    text-align: right;
    width: 60px;
    margin-left: 654px;
    margin-right: 1px;
    display: none;
}

#lblGenre2Edit {
    text-align: right;
    width: 60px;
    margin-left: 654px;
    margin-right: 1px;
    display: inline-block;
}

#inpGenre2 {
    width: 168px;
    border: 1px solid #000000;
    display: none;
}

#inpGenre2Edit {
    width: 168px;
    border: 1px solid #000000;
    display: inline-block;
}

#lblGenre3 {
    text-align: right;
    width: 60px;
    margin-left: 654px;
    margin-right: 1px;
    display: none;
}

#lblGenre3Edit {
    text-align: right;
    width: 60px;
    margin-left: 654px;
    margin-right: 1px;
    display: inline-block;
}

#inpGenre3 {
    width: 168px;
    border: 1px solid #000000;
    display: none;
}

#inpGenre3Edit {
    width: 168px;
    border: 1px solid #000000;
    display: inline-block;
}

.lblTrackName {
    display: inline-block;
    text-align: right;
    width: 95px;
    margin-right: 5px;
}
.inpTrackName{
    display:inline-block;
    width: 275px;
}
.inpTrackGenre {
    display: inline-block;
    width: 275px;
    background: #d2d2d2;
}
.download{
    display:inline-block;
    width: 350px;
}

.lblFileName{
    display:inline-block;
    text-align: right;
    width: 95px;
    margin-right: 5px;     
}
.inpFileName{
    display:inline-block;
    width: 275px;
    background: #d2d2d2;   
}
.lblTrackTime{
    display:inline-block;
    text-align: right;
    width: 63px;
    margin-right: 5px;     
}
.inpTrackTime {
    display: inline-block;
    width: 50px;
    background: #d2d2d2;
}
.inpEditTrackTime {
    display: inline-block;
    width: 50px;
    background: #d2d2d2;
}
#ipnSearch {
    float: right;
    width: 125px;
    height: 21px;
    margin-top: 20px;
    float: left;
    outline: none;
    display: inline-block;
}

#divSearchMenu{
    float: right;
    padding-right: 30px;
}

#songSearch {
    outline: none;
}

button#btnSearch {
    width: 25px;
    height: 25px;
    background: url(../graphics/search.png) no-repeat;
    margin-top: 20px;
    margin-left: 2px;
    border: none;
    cursor: pointer;
    float: right;
    outline: none;
}

    button#btnSearch:hover {
        width: 25px;
        height: 25px;
        background: url(../graphics/search_highlight.png) no-repeat;
        margin-top: 20px;
        margin-left: 2px;
        border: none;
        cursor: pointer;
        float: right;
        outline: none;
    }

#imgCoverArt {
    opacity: 1;
    width: 195px;
    height: 195px;
    border-radius: 3%;
    border-radius: 3%;
}
    #imgCoverArt:hover {
        cursor: pointer;
    }

/*PLAYER BUTTON CONTROLS
##################################*/
#divControls {
    float: left;
    margin: auto;
    width: 240px;
    padding: 0 0 0 10px;
}


button#btnPrevious {
    width: 34px;
    height: 34px;
    background: url(../graphics/skip_previous.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

    button#btnPrevious:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/skip_previous_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnPlay.playStop {
    width: 34px;
    height: 34px;
    background: url(../graphics/play.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

    button#btnPlay.playStop:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/play_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnStop.playStop {
    width: 34px;
    height: 34px;
    background: url(../graphics/stop.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    display: none;
}

    button#btnStop.playStop:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/stop_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnPause {
    width: 34px;
    height: 34px;
    background: url(../graphics/pause.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

    button#btnPause:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/pause_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnNext {
    width: 34px;
    height: 34px;
    background: url(../graphics/skip_next.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

    button#btnNext:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/skip_next_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnShuffle {
    width: 34px;
    height: 34px;
    background: url(../graphics/shuffle.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

    button#btnShuffle:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/shuffle_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnMuteOff.mute {
    width: 34px;
    height: 34px;
    background: url(../graphics/mute_off.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

    button#btnMuteOff.mute:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/mute_off_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnMuteOn.mute {
    width: 34px;
    height: 34px;
    background: url(../graphics/mute_on.png) no-repeat;
    float: left;
    margin-top: 15px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    display: none;
}

    button#btnMuteOn.mute:hover {
        width: 34px;
        height: 34px;
        background: url(../graphics/mute_on_highlight.png) no-repeat;
        float: left;
        margin-top: 15px;
        margin-right: 3px;
        border: none;
        cursor: pointer;
        outline: none;
    }

button#btnRewind {
    width: 20px;
    height: 11px;
    margin-top: -4px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

button#btnFastForward {
    width: 20px;
    height: 11px;
    margin-top: -4px;
    margin-left: 3px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

/*FUNCTION BUTTON CONTROLS
##################################*/

button#btnDummyShow {
    width: 30px;
    height: 15px;
    background: url(../graphics/expand_large.png) no-repeat;
    margin-top: -5px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

button#btnAddedShow {
    width: 30px;
    height: 15px;
    background: url(../graphics/expand_large.png) no-repeat;
    margin-top: -5px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

button#btnPlayedShow {
    width: 30px;
    height: 15px;
    background: url(../graphics/expand_large.png) no-repeat;
    margin-top: -5px;
    margin-left: 0px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

button#btnMostPlayedShow {
    width: 30px;
    height: 15px;
    background: url(../graphics/expand_large.png) no-repeat;
    margin-top: -5px;
    margin-left: 0px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

button#btnBioTextShow {
    width: 30px;
    height: 15px;
    background: url(../graphics/expand_large.png) no-repeat;
    margin-top: -5px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

button#btnLibraryExpand {
    width: 20px;
    height: 10px;
    background: url(../graphics/collapse.png) no-repeat;
    margin-top: -2px;
    margin-left: 1px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

#divMusicLibrary{
    display: block;
}

button#btnPlayerExpand {
    width: 20px;
    height: 10px;
    background: url(../graphics/expand.png) no-repeat;
    margin-top: -2px;
    margin-left: 1px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
} 

#divPlayerFunctions{
    display: none;
}

button#btnGenreExpand {
    width: 20px;
    height: 10px;
    background: url(../graphics/expand.png) no-repeat;
    margin-top: -2px;
    margin-left: 1px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
} 

#divGenreSelect{
    display: none;
}

button#btnMoodExpand {
    width: 20px;
    height: 10px;
    background: url(../graphics/expand.png) no-repeat;
    margin-top: -2px;
    margin-left: 1px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

#divMoodSelect {
    display: none;
}

/*MENU CODE
############################*/
#divHeaderMenu{
    float: left;
    height: 35px;
}

#ulMenu {    
    float: left;
    list-style: none;
    margin: auto;
    padding: 19px 0 0 0;
    text-align: left;
    font-size: 1.25em;
    width: 575px;
}
    #ulMenu li {
        display: inline;
        text-align: center;
        padding-right: 20px;
        cursor: pointer;
    }
    #ulMenu a {
        display: inline-block;
        padding: 0;
        text-decoration: none;
        font-weight: bolder;
    }
        #ulMenu a:hover {
            font-weight: bolder;
        }
    #ulMenu li a.current {
        color: black;
        font-weight: bold;
    }

/*ALBUM ART DISPLAY STYLE SMALL
##############################*/

.divAlbums ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
    padding: 0px 0px 5px 5px;
    animation: fadein 0s;
    list-style: none;
}

.albumDisplay li {
    width: 195px;
    height: 195px;
    margin: 0px;
    float: left;
    display: block;
    position: relative;
    padding: 10px 0px 10px 20px;
    text-align: center;
}

    .albumDisplay li.addedHidden {
        display: none;
    }

    .albumDisplay li.playedHidden {
        display: none;
    }

    .albumDisplay li.mostPlayedHidden {
        display: none;
    }

    .albumDisplay li img {
        opacity: 1;
        width: 100px;
        height: 100px;
        transition: all .4s ease-in-out;
        border-radius: 3%;
    }

        .albumDisplay li img.round {
            opacity: 1;
            width: 100px;
            height: 100px;
            transition: all .4s ease-in-out;
            border-radius: 50%;
        }

.albumDisplay li img:hover {
   z-index: 2;
   transform: scale(1.95);
}

/*ALBUM ART DISPLAY STYLE LARGE
##############################*/

.albumDisplayLarge ul {
    width: auto;
    float: left;
    padding: 0px 0px 5px 5px;
    animation: fadein 0s;
    list-style: none;
}

.albumDisplayLarge li {
    width: 195px;
    height: 195px;
    margin: 0px;
    float: left;
    display: block;
    position: relative;
    padding: 10px 0px 10px 20px;
    text-align: center;
}
    .albumDisplayLarge li.addedHidden {
        display: none;
    }
    .albumDisplayLarge li.playedHidden {
        display: none;
    }
    .albumDisplayLarge li.mostPlayedHidden {
        display: none;
    }
    .albumDisplayLarge li img {
        opacity: 1;
        width: 195px;
        height: 195px;
        border-radius: 3%;
    }
        .albumDisplayLarge li img.round {
            opacity: 1;
            width: 195px;
            height: 195px;
            border-radius: 50%;
        }
    .albumDisplayLarge li:hover .overlay {
        opacity: .75;
    }
    .albumDisplayLarge li:hover .overlayRound {
        opacity: .75;
    }

.overlay {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 20px;
    right: 0;
    padding: 10px;
    height: 180px;
    width: 180px;
    opacity: 0;
    transition: .5s ease;
    border-radius: 3%;
}

.overlayRound {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 20px;
    right: 0;
    padding: 10px;
    height: 180px;
    width: 180px;
    opacity: 0;
    transition: .5s ease;
    border-radius: 50%;
}

.textAlbum {
    width: 195px;
    height: 195px;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.playlistTextAlbum {
    width: 195px;
    height: 195px;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 25px;
    color: white;
}

    .textAlbum:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 25%;       
    }

#imgNowPlaying {
    float: left;
    margin: 8px 0 0 0;
    width: 195px;
    height: 195px;
    border-radius: 3%;
}

/*LINKS LIST
 ###################*/

.divLinks ul {
    width: auto;
    float: left;
    padding: 5px;
    animation: fadein 0s;
    list-style: none;
}

.divLinks li {
    width: 78px;
    height: 50px;
    margin: 0px;
    float: left;
    display: block;
    position: relative;
    padding: 10px 25px 10px 0px;
    text-align: center;
}

.divLinks li img{
    width: 35px;
    height: 35px;
}

/*OTHER STYLE
#####################*/

.divAlbumHeader {
    float: left;
    width: 240px;
    animation: fadein 0s;
}
.divAlbumHeader img {
        float: left;
        margin: 15px;
        width: 195px;
        height: 195px;
        border-radius: 3%;
    }

.divBioHeader {
    float: left;
    width: 240px;
}
.divBioHeader img {
    float: left;
    margin: 15px;
    width: 195px;
    border-radius: 3%;
}

.divAlbumText {
    float: left;
    overflow: visible;
    animation: fadein 0s;
    margin-bottom: 15px;
    margin-left: 15px;
}
    .divAlbumText h1 {
        float: left;
        margin-top: 15px;
    }
    .divAlbumText h2 {
        margin-top: 15px;
        clear: left;
    }
.divAlbumImportText {
    float: left;
    width: 600px;
    animation: fadein 0s;
    margin-bottom: 15px;
    margin-left: 15px;
}

    .divAlbumImportText h1 {
        float: left;
        margin-top: 15px;
    }

    .divAlbumImportText h2 {
        margin-top: 15px;
        clear: left;
    }
.mainHeading{
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}

.appMainHeading {
    margin-top: 15px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
}

.divDefaultPlayingText {
    float: left;
    min-width: 220px;
    margin: 15px 0 0 20px;
}

.divPlayingText {
    float: left;
    /*
    padding-left: 15px;
        */
    margin: 0px 0 0 20px;
}

.divDefaultInnerText{
    float: left;
}

.divCredits {
    clear: both;
    padding-left: 15px;
}

#playingtracks {
    list-style: none;
    padding-left: 0;
}
.divInnerPlayingText{
    margin-left: 10px;
}

.hidden {
    display: none;
}

/*Seekbar*/
#seekbar {
    width: 200px;
    height: 6px;
    border-radius: 3px;
    cursor: pointer;
}

    #seekbar::-webkit-progress-bar {
        width: 200px;
        height: 6px;
        border-radius: 3px;
    }

    #seekbar::-webkit-progress-value {
        border-radius: 3px;
    }

/*Animation to fade in images*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#imgArtwork {
    cursor: pointer;
}

#imgBioArtwork {
    cursor: pointer;
}

#imgInfoArtwork{
    cursor: pointer;
}

#backArtFound {
    margin-left: 15px;
    clear: left;
}

/*TABLE STYLES
#######################*/
/*Track table*/
#tblTracks {
    left: 0px;
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    width: 95%;
    margin: 15px;
    animation: fadein 0s;
    table-layout: fixed;
}
    #tblTracks td, th {
        text-align: left;
        padding-left: 5px; 
    }
    #tblTracks th {
        font-size: 1.15em;
        border: none;
        outline: none;
    }
    #tblTracks td:nth-child(6) {
        display: none;
    }
    #tblTracks td:nth-child(7) {
        display: none;
    }
    #tblTracks td:nth-child(8) {
        display: none;
    }
.rowTrackTitle{
    width: 50%;
}
.rowTrackTime{
    width: 10%;
}
.rowTrackPlays{
    width: 10%;
}
.rowTrackLast{
    width: 15%;
}
.rowTrackFavourite{
    width: 5%;
}
.rowPlaylistTitle {
    width: 40%;
}

.rowPlaylistArtist {
    width: 35%;
}

.rowPlaylistPlays {
    width: 10%;
}

.rowPlaylistLast {
    width: 10%;
}

.rowPlaylistFavourite {
    width: 5%;
}

/*Classes for Track table*/
.playing {
    font-weight: bold;
}

/*Song Table*/
#tblSongs {
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: 15px;
    animation: fadein 0s;
}
    #tblSongs th {
        font-size: 1.25em;
        text-align: left;
        padding: 5px;
        border: none;
        outline: none;
    }
    #tblSongs td {
        text-align: left;
        padding-left: 5px;
        width: 20em;
    }
        #tblSongs td.count {
            text-align: left;
            width: 4em;
        }
        #tblSongs td.favourite {
            text-align: left;
            width: 2em;
            vertical-align: text-bottom;
        }
        #tblSongs td.lastPlay {
            text-align: left;
            width: 8em;
        }
    #tblSongs td:nth-child(7) {
        display: none;
    }

/*Track Table*/
#tblTracks{
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: 15px;
    animation: fadein 0s;
}

    #tblTracks th {
        font-size: 1.25em;
        text-align: left;
        padding: 5px;
        border: none;
        outline: none;
    }

    #tblTracks td {
        text-align: left;
        padding-left: 5px;
        width: 20em;
    }

        #tblTracks td.count {
            text-align: left;
            width: 4em;
        }

        #tblTracks td.favourite {
            text-align: left;
            width: 2em;
            vertical-align: text-bottom;
        }

        #tblTracks td.lastPlay {
            text-align: left;
            width: 8em;
        }

        #tblTracks td:nth-child(6) {
            display: none;
        }

/*Search Table*/
#tblSearch {
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: 15px;
    animation: fadein 0s;
    max-width: 98%;
}

    #tblSearch th {
        font-size: 1.25em;
        text-align: left;
        padding: 5px;
        border: none;
        outline: none;
    }

    #tblSearch td {
        text-align: left;
        padding-left: 5px;
        width: 22%;
    }

        #tblSearch td.favourite {
            text-align: left;
            width: 2em;
            vertical-align: text-bottom;
        }

        #tblSearch td.release {
            text-align: left;
            width: 8em;
        }

        #tblSearch td:nth-child(7) {
            display: none;
        }

/*Import Music table*/
#tblImportMusic {
    left: 0px;
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    width: 95%;
    margin: 15px;
    animation: fadein 0s;
    table-layout: fixed;
}

    #tblImportMusic caption {
        text-align: left;
    }

    #tblImportMusic td, th {
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #tblImportMusic th {
        font-size: 1.15em;
        border: none;
        outline: none;
    }

    #tblImportMusic td:nth-child(4) {
        display: none;
    }

.rowGraceArtist {
    width: 40%;
}

.rowGraceAlbum {
    width: 40%
}

.rowGraceTracks {
    width: 20%
}

.rowGraceTitle {
    width: 60%
}

.rowGraceDate {
    width: 20%
}

/*Sync Directory search table*/
#tblSyncDirectory {
    left: 0px;
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    width: 95%;
    margin: 15px;
    animation: fadein 0s;
    table-layout: fixed;
}

    #tblSyncDirectory td, th {
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #tblSyncDirectory th {
        background: #430100;
    }

.rowSyncArtist {
    width: 45%;
}

.rowSyncAlbum {
    width: 45%
}

.rowSyncTracks {
    width: 10%
}

/*View Exported Playlists table*/
#tblExportedPlaylists {
    left: 0px;
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    width: 95%;
    margin: 10px;
    animation: fadein 0s;
    table-layout: fixed;
}

    #tblExportedPlaylists td, th {
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #tblExportedPlaylists th {
        font-size: 1.15em;
        border: none;
        outline: none;
    }

.rowExportCheck{
    width: 15%;
}

.rowExportName{
    width: 85%
}

/*Keyboard shortcuts table*/
#tblShortcuts {
    left: 0px;
    font-family: 'Calibri', 'Arial', 'sans-serif';
    border-collapse: collapse;
    width: 40%;
    margin: 15px;
    animation: fadein 0s;
    table-layout: fixed;
}

    #tblShortcuts td, th {
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #tblShortcuts th {
        font-size: 1.15em;
        border: none;
        outline: none;
    }

.rowShortcutCommand {
    width: 25%;
}

.rowShortcutShortcut {
    width: 25%
}



/*MODAL POP UP BOXES
#################################*/
/*Decision pop up modal box*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index: 9999;
    animation: fadein 0.5s;
}

/* Modal Content */
.modalContent {
    position: relative;
    margin: auto;
    padding: 0;
    border: 2px solid #fff;
    width: 27%;
    border-radius: 5px;
}

/* The close X button in header*/
#btnXModal {
    margin-top: -6px;
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

    #btnXModal:hover,
    #btnXModal:focus {
        color: #c0c0c0;
        text-decoration: none;
        cursor: pointer;
    }

.modalHeader {
    padding: 7px 10px 2px 10px;
    border-radius: 5px 5px 0 0;
    height: 35px;
}
.modalIcon {
    float: left;
    margin-right: 10px;
}
.modalBody {
    padding: 20px 10px 20px 10px;
}
.modalBody p{
    vertical-align: middle;
}

.modalFooter {
    padding: 4px 10px 4px 10px;
    border-radius: 0 0 5px 5px;
}

/*Display large artwork modal pop up*/
/* The Modal (background) */
.artModal {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index: 9999;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Modal Content */
#artFrontModalContent {
    background: #000000;
    position: relative;
    margin: auto;
    padding: 0;
    border: 4px solid #fff;
    width: 608px;
    height: 608px;
    border-radius: 5px;
}

#artBackModalContent {
    background: #000000;
    position: relative;
    margin: auto;
    padding: 0;
    border: 4px solid #fff;
    width: 608px;
    height: 608px;
    border-radius: 5px;
} 
.artModalBody {
    position: relative;
    top: 0;
    left: 0;
}

#artModalImage {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 600px;
    height: 600px;
    animation: fadein 1s;
}

#backcoverImage {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 600px;
    display: none;
    cursor: pointer;
    animation: fadein 1s;
}

.artModalClose {
    position: absolute;
    top: -15px;
    left: 585px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.bioArtModalClose {
    position: absolute;
    top: -15px;
    left: 585px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/*Display large bio artwork modal pop up*/
/* The Modal (background) */
.bioArtModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index: 9999;
    animation: fadein 1s;
}

/* Modal Content */
.bioArtModalContent {
    background: #000000;
    position: relative;
    margin: auto;
    padding: 0;
    border: 4px solid #fff;
    width: 608px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 50px;
}

.bioArtModalBody {
    position: relative;
    top: 0;
    left: 0;
}

#bioArtModalImage {
    position: relative;
    top: 4px;
    left: 4px;
    width: 600px;
    height: auto;
    padding-bottom: 4px;
}

/* Animation To shake image*/
/* Shake social media logo on hover*/
#ulLinks img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
